@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

/* ----------------------------------------------header----------------------------------------------*/

header{
    width: auto;
    height: 500px;
    background-image: url(img/header.jpeg);
}

header .title{
    padding: 70px 0px 0px 70px;
    color: white;
    font-family: "M PLUS Rounded 1c";
}

header .title h1{
    letter-spacing: 10px;
    font-size: 50px;
}

/* ----------------------------------------------about----------------------------------------------*/

.about{
    padding: 20px 10%;
}

.about h2{
    padding-bottom: 30px;
}

/* ----------------------------------------------works----------------------------------------------*/

.works{
    padding: 20px 10%;
}

.works h2{
    padding-bottom: 30px;
}

@media (max-width: 599px){
    header{background-position: -160px -30px;}
    header .title{padding: 50px 0px 0px 30px;}
    header .title h1{font-size: 40px; letter-spacing: 6px;}
}

.w1 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w1 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.w2 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w2 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.w3 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w3 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.w4 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w4 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.w5 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w5 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.w6 img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    margin-left: 50px;
}
.w6 p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

/* ----------------------------------------------skills----------------------------------------------*/

.skills{
    padding: 20px 10%;
}

.skills h2{
    padding-bottom: 30px;
}
.skill{
    display: flex;
    flex-wrap: wrap;
}

.skill p{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 16px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    color: #333;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    line-height: 1.4;
    margin: 5px 7px 5px;
    padding: 4px;
    text-align: center;
    width: 90px;
    max-width: calc(100% - 14px);
    justify-content: center;
}

/* ----------------------------------------------form----------------------------------------------*/

.form{
    padding: 20px 10%;
    background-image: url(img/footer.jpeg);
    height: 500px;
}

.form h2{
    padding-bottom: 30px;
}

textarea{
    resize : both; 
}

.lead-form{
    text-align: center;
    font-size:20px;
}
form{
    margin:0 auto;
}
.item{
    overflow: hidden;
    margin-bottom: 20px;
}
.label{
    float: left;
    margin-right: 20px;
    width:135px;
    border-left: solid 3px #e0505d;
    padding-left: 10px;
}
.inputs{
    float: left;
    width:300px;
}
input[type="text"],input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}
textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}
.btn-area{
    text-align: center;
}
input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}
input[type="reset"]{
    background: #aaa;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}

.contacts{
    margin:0 20%;
}
/* ----------------------------------------------footer----------------------------------------------*/

footer{
    width: auto;
    height: 200px;
    background-color: black;
}

footer p{
    color:white;
    text-align: center;
    padding-top: 90px;
    font-size: 12px;
}